<div class = "container px-5 px-sm-0">
  <div class = "row">
    <div class='col-md-3'>
      <h2 style="padding:20px;">取引物件</h2>
      <%= render 'admin/real_estates/real_estate_info', real_estate: @real_estate %>
      <h2 style="padding:10px;">ご意見・ご質問</h2>
      <%= render 'public/questions/question_new', question: @question %>
    </div>
    <div class = "col-md-8 offset-md-1">
      <h3 style="padding:20px; text-align:center; border: solid 1px #3366FF;">お取引ご進捗：<%= @customer.ja_status %></h3>
      <h2 style="padding:20px;">スケジュール</h2>
      <%= render 'admin/appointments/appointments_index', appointments: @appointments, customer: @customer %>
      <h5 style="padding:20px;">カレンダー</h5>
      <%= render 'admin/appointments/month_calendar', appointments: @appointments %>
    </div>
  </div>
</div>

