<div class = "container px-5 px-sm-0">
  <div class = "row">
    <div class='col-md-3'>
      <h2 style="padding:20px;">取引物件</h2>
      <%= render 'admin/real_estates/real_estate_info', real_estate: @real_estate %>
      <h2 style="padding:10px;">ご意見・ご質問</h2>
      <%= render 'public/questions/errors_question', question: @question %>
      <%= flash[:notice] %>
      <%= render 'public/questions/question_new', question: @question %>
    </div>
    <div class = "col-md-8 offset-md-1">
      <h2>お取引ご進捗：<%= @customer.ja_status %></h2>
      <h2 style="padding:20px;">スケジュール</h2>
      <%= render 'admin/appointments/appointments_index', appointments: @appointments, customer: @customer %>
    </div>
  </div>
</div>

<!--attribute：appointmentのdateとカレンダーのdateを対応させる-->
<%= month_calendar(attribute: :date, events: @appointments) do |date, appointments| %>
  <%= date.day %>

  <% appointments.each do |appointment| %>
    <div>
      <%= link_to appointment.name, admin_customer_appointment_path(appointment.customer, appointment) %>
    </div>
  <% end %>
<% end %>