<% if admin_signed_in? %>
  <div class="text-right mb-2">
    <%= link_to "アポイント新規登録", new_admin_customer_appointment_path(@customer), class:"btn btn-outline-primary" %>
  </div>
<% end %>
<table class="table table-hover table-inverse">
  <thead>
    <tr>
      <th style="text-align:center">日時</th>
      <th style="text-align:center">手続き名</th>
      <th style="text-align:center">場所</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% appointments.each do |appointment| %>
      <tr>
        <td style="text-align:center"><%= appointment.date.strftime("%Y年%m月%d日") %><%= appointment.time.strftime("%H時%M分") %></td>
        <td style="text-align:center"><%= appointment.name %></td>
        <td style="text-align:center"><%= appointment.place_name %></td>
        <% if admin_signed_in? %>
          <td style="text-align:center"><%= link_to "詳細", admin_customer_appointment_path(appointment.id, customer.id) %></td>
        <% else %>
          <td><%= link_to "詳細", customer_appointment_path(appointment.id, customer.id) %></td>
        <% end %>
        <td></td>
      </tr>
    <% end %>
  </tbody>
</table>