<div class="container mt-5 mb-5">
  <div class="row my-3">

    <%= render 'admin/real_estates/real_estate_info' %>

    <div class='col-sm-8 px-sm-0 offset-sm-1'>
      <h2>【登録】スケジュール</h2>
    </div>
  </div>

  <%= form_with model: @appointment, url: admin_customer_appointment_path(@customer) do |f| %>
    <!--URLでも渡しているが、hiddenで書くことでストロングパラメータからcustomer_idを一括で取ってくることができる-->
    <%= f.hidden_field :customer_id, value: @customer.id %>
    <div class="row form-group">
      <div class="col-2 offset-md-1"><%= f.label "手続き名" %></div>
      <div class="col-1 text-right pr-0"></div>
      <div class="col-3"><%= f.text_field :name, :size => "30", placeholder: "（例）契約・本審査申込・決済etc." %></div>
    </div>

    <div class="row form-group">
      <div class="col-2 offset-md-1"><%= f.label "日時" %></div>
      <div class="col-1 text-right pr-0"></div>
      <div class="col-1"><%= f.text_field :date, :size => "15", placeholder: "20XX年XX月XX日" %></div>
      <div class="col-1 text-right pr-0"></div>
      <div class="col-1"><%= f.text_field :time, :size => "10", placeholder: "XX時XX分" %></div>
    </div>

    <div class="row form-group">
      <div class="col-3 offset-md-1"><%= f.label "取引場所" %></div>
      <div class="col-3"><%= f.text_field :place_name, placeholder: "（例）XX銀行etc." %></div>
    </div>

    <div class="row form-group">
      <div class="col-3 offset-md-1"><%= f.label "取引場所住所" %></div>
      <div class="col-3"><%= f.text_field :place_address, :size => "40" %></div>
    </div>

    <div class="row form-group">
      <div class="col-3 offset-md-1"><%= f.label "お持ちもの" %></div>
      <div class="col-3"><%= f.text_area :preparation_thing, :size => "30" %></div>
    </div>

    <div class="row form-group">
      <div class="col-3 offset-md-1"><%= f.label "備考" %></div>
      <div class="col-3"><%= f.text_area :description_1, :size => "50" %></div>
    </div>

    <div class="row form-group">
      <div class="col-3 offset-md-1"><b><%= f.label "金員" %></b></div>
    </div>

    <div class="row form-group">
      <div class="col-3 offset-md-1"><%= f.label "手付金" %></div>
      <div class="col-3"><%= f.text_field :earnest_money %> 円</div>
    </div>

    <div class="row form-group">
      <div class="col-3 offset-md-1"><%= f.label "仲介手数料" %></div>
      <div class="col-3"><%= f.text_field :brokerage_fee %> 円</div>
    </div>

    <div class="row form-group">
      <div class="col-3 offset-md-1"><%= f.label "収入印紙代" %></div>
      <div class="col-3"><%= f.text_field :revenue_stamp_fee %> 円</div>
    </div>

    <div class="row form-group">
      <div class="col-3 offset-md-1"><%= f.label "売買残金" %></div>
      <div class="col-3"><%= f.text_field :remaining_amount %> 円</div>
    </div>

    <div class="row form-group">
      <div class="col-3 offset-md-1"><%= f.label "固定資産税清算金" %></div>
      <div class="col-3"><%= f.text_field :real_estate_tax %> 円</div>
    </div>

    <div class="row form-group">
      <div class="col-3 offset-md-1"><%= f.label "登記費用（司法書士宛）" %></div>
      <div class="col-3"><%= f.text_field :registration_fee_1 %> 円</div>
    </div>

    <div class="row form-group">
      <div class="col-3 offset-md-1"><%= f.label "登記費用（家屋調査士宛）" %></div>
      <div class="col-3"><%= f.text_field :registration_fee_2 %> 円</div>
    </div>

    <div class="row form-group">
      <div class="col-3 offset-md-1"><%= f.label "リフォーム費用" %></div>
      <div class="col-3"><%= f.text_field :renovation_fee %> 円</div>
    </div>

    <div class="row form-group">
      <div class="col-3 offset-md-1"><%= f.label "管理費・積立金清算金" %></div>
      <div class="col-3"><%= f.text_field :apartment_management_fee %> 円</div>
    </div>

    <div class="row form-group">
      <div class="col-3 offset-md-1"><%= f.label "その他費用（１）" %></div>
      <div class="col-3"><%= f.text_field :other_expense_1 %> 円</div>
    </div>

    <div class="row form-group">
      <div class="col-3 offset-md-1"><%= f.label "その他費用（２）" %></div>
      <div class="col-3"><%= f.text_field :other_expense_2 %> 円</div>
    </div>

    <div class="row form-group">
      <div class="col-3 offset-md-1"><%= f.label "その他費用（３）" %></div>
      <div class="col-3"><%= f.text_field :other_expense_3 %> 円</div>
    </div>

    <div class="row form-group">
      <div class="col-3 offset-md-1"><%= f.label "その他費用（４）" %></div>
      <div class="col-3"><%= f.text_field :other_expense_4 %> 円</div>
    </div>

    <div class="row form-group">
      <div class="col-3 offset-md-1"><%= f.label "その他費用（５）" %></div>
      <div class="col-3"><%= f.text_field :other_expense_5 %> 円</div>
    </div>

    <div class="row form-group">
      <div class="col-3 offset-md-1"><%= f.label "備考（金員に関する内容）" %></div>
      <div class="col-3"><%= f.text_area :description_2, :size => "50" %></div>
    </div>

    <div class="row form-group">
      <div class="col-2 offset-md-1 mt-3 mb-5">
        <%= link_to "戻る", admin_customer_appointment_path(@customer.id, @appointment.id), class: "btn btn-outline-dark" %>
      </div>

      <div class="col-2 offset-md-1 mt-3 mb-5">
        <%= f.submit "更新", class:"btn btn-outline-primary btn-block mb-1" %>
      </div>
    </div>
  <% end %>
</div>