<div class = "container px-5 px-sm-0">
  <div class = "row">
    <div class='col-md-3'>
      <h2 style="padding:20px;">取引物件</h2>
      <%= render 'admin/real_estates/real_estate_info', real_estate: @real_estate %>
      <% if @real_estate.present? %>
        <div class = "row">
          <%= link_to "編集", edit_admin_real_estate_path(@real_estate), class: "btn btn-outline-secondary btn-block edit_user_69737" %>
        </div>
      <% end %>
      <% if @real_estate.blank? %>
        <div class = "row">
          <%= link_to "新規登録", new_admin_real_estate_path(@customer), class: "btn btn-outline-primary btn-block edit_user_69737" %>
        </div>
      <% end %>
      <h2 style="padding:20px;">買主</h2>
      <%= render 'admin/customers/customer_info', customer: @customer %>
      <div class = "row">
        <%= link_to "詳細", admin_customer_path(@customer), class: "btn btn-outline-secondary btn-block edit_user_69737" %>
      </div>
    </div>

    <div class = "col-md-8 offset-md-1">
      <h2 style="padding:20px;">【登録】スケジュール</h2>
      <%= render 'admin/appointments/errors_appointment', appointment: @appointment %>
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10 mt-5">
          <%= form_with model: @appointment, url: admin_customer_appointments_path(@customer) do |f| %>
          <!--customer_idはURLでも渡しているが、hiddenで書くことでストロングパラメータから一括で取ってくることができる-->
          <!--admin/appointments_controllerの7行目の記述を行った場合：「value: @customer.id」が不要となる（既にidを持っているため）-->
          <%= f.hidden_field :customer_id, value: @customer.id %>
            <table class="table table-borderless">
              <tbody>
                <tr>
                  <th><%= f.label "手続き名" %></th>
                  <td><%= f.text_field :name, placeholder: "（例）契約・本審査申込・決済etc." %></td>
                </tr>

                <tr>
                  <th><%= f.label "日時" %></th>
                  <td>
                    <%= f.date_field :date, size: "15", min: Date.current %>
                    <%= f.time_field :time, size: "15" %>
                  </td>
                </tr>

                <tr>
                  <th><%= f.label "取引場所" %></th>
                  <td><%= f.text_field :place_name, placeholder: "（例）XX銀行etc." %></td>
                </tr>

                <tr>
                  <th><%= f.label "取引場所住所" %></th>
                  <td><%= f.text_field :place_address, size: "40" %></td>
                </tr>

                <tr>
                  <th><%= f.label "お持ちもの" %></th>
                  <th><%= f.text_area :preparation_thing, size: "30" %></th>
                </tr>

                <tr>
                  <th><%= f.label "備考" %></th>
                  <td><%= f.text_area :description_1, size: "45" %></td>
                </tr>

                <tr>
                  <th><%= f.label "金員" %></th>
                </tr>

                <tr>
                  <td><%= f.label "手付金" %></td>
                  <td><%= f.text_field :earnest_money %> 円</td>
                </tr>

                <tr>
                  <td><%= f.label "仲介手数料" %></td>
                  <td><%= f.text_field :brokerage_fee %> 円</td>
                </tr>

                <tr>
                  <td><%= f.label "収入印紙代" %></td>
                  <td><%= f.text_field :revenue_stamp_fee %> 円</td>
                </td>

                <tr>
                  <td><%= f.label "売買残金" %></td>
                  <td><%= f.text_field :remaining_amount %> 円</td>
                </tr>

                <tr>
                  <td><%= f.label "固定資産税清算金" %></td>
                  <td><%= f.text_field :real_estate_tax %> 円</td>
                </tr>

                <tr>
                  <td><%= f.label "登記費用(司法書士宛)" %></td>
                  <td><%= f.text_field :registration_fee_1 %> 円</td>
                </tr>

                <tr>
                  <td><%= f.label "登記費用(家屋調査士宛)" %></td>
                  <td><%= f.text_field :registration_fee_2 %> 円</td>
                </tr>

                <tr>
                  <td><%= f.label "リフォーム費用" %></td>
                  <td><%= f.text_field :renovation_fee %> 円</td>
                </tr>

                <tr>
                  <td><%= f.label "管理費・積立金清算金" %></td>
                  <td><%= f.text_field :apartment_management_fee %> 円</td>
                </tr>

                <tr>
                  <td><%= f.label "その他費用（１）" %></td>
                  <td><%= f.text_field :other_expense_1 %> 円</td>
                </tr>

                <tr>
                  <td><%= f.label "その他費用（２）" %></td>
                  <td><%= f.text_field :other_expense_2 %> 円</td>
                </tr>

                <tr>
                  <td><%= f.label "その他費用（３）" %></td>
                  <td><%= f.text_field :other_expense_3 %> 円</td>
                </tr>

                <tr>
                  <td><%= f.label "その他費用（４）" %></td>
                  <td><%= f.text_field :other_expense_4 %> 円</td>
                </tr>

                <tr>
                  <td><%= f.label "その他費用（５）" %></td>
                  <td><%= f.text_field :other_expense_5 %> 円</td>
                </tr>

                <tr>
                  <th><%= f.label "備考（金員に関する内容）" %></th>
                  <td><%= f.text_area :description_2, size: "45", placeholder: "清算金の計算式etc." %></td>
                </tr>

                <tr>
            	    <td><%= link_to "戻る", admin_customer_appointments_path(@customer), class: "btn btn-outline-dark" %></td>
                  <td><%= f.submit "新規登録", class:"btn btn-outline-primary btn-lg" %></td>
                </tr>
              </tbody>
            </table>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>