<table class = "table">
  <tbody>
    <tr>
      <th style="width: 100px;">氏名</th>
      <td><%= customer.last_name %><%= customer.first_name %></td>
    </tr>
    <tr>
      <th style="width: 100px;">電話番号</th>
      <td><%= customer.phone_number %></th>
    </tr>
    <tr>
      <th style="width: 100px;">会員状況</th>
      <td><%= @customer.active_text %></th>
    </tr>
    <tr>
      <th style="width: 100px;">進捗</th>
      <td><%= @customer.ja_status %></th>
    </tr>
  </tbody>
</table>