<table class="table table-borderless table-hover">
  <tbody>
    <tr>
      <th style="width: 140px;">氏名</th>
      <td><%= customer.last_name %><%= customer.first_name %></td>
    </tr>
    <tr>
      <th style="width: 140px;">フリガナ</th>
      <td><%= customer.last_name_kana %><%= customer.first_name_kana %></td>
    </tr>
    <tr>
      <th style="width: 140px;">住所</th>
      <td><%= customer.address %></td>
    </tr>
    <tr>
      <th style="width: 140px;">電話番号</th>
      <td><%= customer.phone_number %></td>
    </tr>
    <tr>
      <th style="width: 140px;">メールアドレス</th>
      <td><%= customer.email %></td>
    </tr>
    <tr>
      <th style="width: 140px;">進捗</th>
      <td><%= customer.ja_status %></td>
    </tr>
    <% if admin_signed_in? %>
	    <tr>
	      <th style="width: 140px;">退会状況</th>
	      <td><%= customer.active_text %></td>
	    </tr>
    <% end %>
  </tbody>
</table>
