<div class="container mt-5 mb-5">
  <div class="row my-3">
    <div class='col-sm-8 px-sm-0 offset-sm-1'>
      <h2 style="padding:20px; text-align:center;">【登録】買主情報</h2>
    </div>
  </div>
  <div class="d-flex justify-content-center p-3">
    <!--下記のようなモデル指定方法で、railsが自動でurlを判断してくれるとのこと（理解が浅い）-->
    <%= form_with model: [:admin, @customer] do |f| %>
      <%= render 'layouts/error_messages', model: f.object %>
      <table class="table table-borderless">
        <tbody>
          <tr>
            <th style="width: 165px;"><%= f.label "お名前" %></th>
            <td>
              <%= f.text_field :last_name, size: "10", placeholder: "姓" %>
              <%= f.text_field :first_name, size: "10", placeholder: "名" %>
            </td>
          </tr>

          <tr>
            <th style="width: 165px;"><%= f.label "フリガナ" %></th>
            <td>
              <%= f.text_field :last_name_kana, size: "10", placeholder: "セイ" %>
              <%= f.text_field :first_name_kana, size: "10", placeholder: "メイ" %>
            </td>
          </tr>

          <tr>
            <th style="width: 165px;"><%= f.label "現住所" %></th>
            <td><%= f.text_field :address, size: "40", placeholder: "都道府県名から入力" %></td>
          </tr>

          <tr>
            <th style="width: 165px;"><%= f.label "電話番号" %></th>
            <td><%= f.text_field :phone_number, placeholder: "ハイフンなし" %></td>
          </tr>

          <tr>
            <th style="width: 165px;"><%= f.label "メールアドレス" %></th>
            <td><%= f.email_field :email, size: "25", placeholder: "当サイトログイン時に使用" %></td>
          </tr>

          <tr>
            <th style="width: 165px;">
              <%= f.label "パスワード" %>
            </th>
            <td><%= f.password_field :password, placeholder: "6文字以上" %></td>
          </tr>

          <tr>
            <th style="width: 165px;"><%= f.label "パスワード(確認用)" %></th>
            <td><%= f.password_field :password_confirmation %></td>
          </tr>

          <tr>
            <td></td>
            <td><%= f.submit "新規登録", class:"btn btn-outline-primary btn-lg" %></td>
          </tr>
        </tbody>
      </table>
    <% end %>
  </div>
</div>