<div class="container mt-5 mb-5">
  <div class="row my-3">
    <div class="col-sm-8 px-sm-0 offset-sm-1">
      <h2 style="padding:20px; text-align:center;">【登録】物件情報</h2>
      <%= render 'admin/real_estates/errors_real_estate', real_estate: @real_estate %>
    </div>
  </div>
  <div class="d-flex justify-content-center p-3">
    <%= form_with model: @real_estate, url: admin_real_estates_path  do |f| %>
    <%= f.hidden_field :customer_id, value: @customer.id %>
      <table class="table table-borderless">
        <tbody>
          <tr>
            <th style="width: 140px;"><%= f.label "物件名" %></th>
            <td><%= f.text_field :name, size: "50", placeholder: "（例）XXX町XX丁目戸建て・XXXマンションXX号室" %></td>
          </tr>

          <tr>
            <th style="width: 140px;"><%= f.label "所在地" %></th>
            <td><%= f.text_field :address, size: "50", placeholder: "都道府県名から入力" %></td>
          </tr>

          <tr>
            <th style="width: 140px;"><%= f.label "成約価格" %></th>
            <td><%= f.text_field :price, size: "10", placeholder: "半角入力" %>万円</td>
          </tr>

          <tr>
            <td style="width: 140px;"><%= link_to "戻る", admin_customer_appointments_path(@customer), class: "btn btn-outline-dark" %></td>
            <td><%= f.submit "新規登録", class:"btn btn-outline-primary btn-lg" %></td>
          </tr>
        </tbody>
      </table>
    <% end %>
  </div>
</div>