<header>
  <!--NOTE:レスポンシブデザイン指定：992px以上は通常、ヘッダー背景色指定-->
  <nav class="navbar navbar-expand-lg" style="background-color: #F8F8FF;">
    <div class="container">
      <% if admin_signed_in? %>
        <h3><%= link_to("Contract Schedule", root_path) %></h3>
      <% else %>
        <h3><%= link_to("Contract Schedule", root_path) %></h3>
      <% end %>

      <!--ハンバーガーメニュー-->
      <button class="navbar-toggler text-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon text-primary"></span>
      </button>
      <!--NOTE:ハンバーガーメニューの開閉設定-->
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <div class="navbar-nav ml-auto">
          <!--管理者ログイン時ヘッダー-->
          <% if admin_signed_in? %>
            <div>
              <ul class="nav justify-content-end">
                <li class="nav-item">
                  <span style="margin: 120px">
                    <%= link_to admin_root_path, class: "nav-link text-light" do %>
                      <button type="button" class="btn btn-outline-dark" style="width:125px;">買主一覧</button>
                    <% end %>
                  </span>
                </li>
                <li class="nav-item">
                  <span style="margin: 130px">
                    <%= link_to new_admin_customer_path, class: "nav-link text-light" do %>
                      <button type="button" class="btn btn-outline-dark" style="width:125px;">買主新規登録</button>
                    <% end %>
                  </span>
                </li>
                <li class="nav-item">
                  <span style="margin: 130px">
                    <%= link_to admin_questions_path, class: "nav-link text-light" do %>
                      <button type="button" class="btn btn-outline-dark" style="width:125px;">Q&A一覧</button>
                    <% end %>
                  </span>
                </li>
                <li class="nav-item">
                  <span style="margin: 130px">
                    <%= link_to destroy_admin_session_path, method: :delete, class: "nav-link text-light" do %>
                      <button type="button" class="btn btn-outline-dark" style="width:125px;">ログアウト</button>
                    <% end %>
                  </span>
                </li>
              </ul>
              <div style="width: 80%; margin: 0 0 0 auto;" >
                <%= form_with url: search_admin_customers_path, method: :get, class:"d-flex", local: true do |f| %>
                  <%= f.text_field :keyword, class:"form-control me-2",  placeholder:"買主検索(部分一致)：カナ姓・カナ名・電話番号" %>
                  <%= f.submit "Search", class:"btn btn-outline-primary" %>
                <% end %>
              </div>
            </div>
          <!--会員ログイン時ヘッダー-->
          <% elsif customer_signed_in? %>
            <ul class="nav justify-content-end">
              <li class="nav-item">
                <span style="margin: 120px">
                  <%= link_to customer_appointments_path(@customer), class: "nav-link text-light", data: {"turbolinks"=>false} do %>
                    <button type="button" class="btn btn-outline-dark" style="width:125px;">スケジュール</button>
                  <% end %>
                </span>
              </li>
              <li class="nav-item">
                <span style="margin: 120px">
                  <%= link_to customer_path(current_customer), class: "nav-link text-light" do %>
                    <button type="button" class="btn btn-outline-dark" style="width:125px;">マイページ</button>
                  <% end %>
                </span>
              </li>
              <li class="nav-item">
                <span style="margin: 120px">
                  <%= link_to questions_path, class: "nav-link text-light" do %>
                    <button type="button" class="btn btn-outline-dark" style="width:125px;">Q&A一覧</button>
                  <% end %>
                </span>
              </li>
              <li class="nav-item">
                <span style="margin: 120px">
                  <%= link_to destroy_customer_session_path, method: :delete, class: "nav-link text-light" do %>
                    <button type="button" class="btn btn-outline-dark" style="width:125px;">ログアウト</button>
                  <% end %>
                </span>
              </li>
            </ul>
          <!--ログアウト時ヘッダー-->
          <% else %>
            <ul class="nav justify-content-end">
              <li class="nav-item ">
                <span style="margin: 110px">
                  <%= link_to about_homes_path, class: "nav-link text-light" do %>
                    <button type="button" class="btn btn-outline-dark" style="width:100px;">About</button>
                  <% end %>
                </span>
              </li>
              <li class="nav-item">
                <span style="margin: 110px">
                  <%= link_to new_customer_session_path, class: "nav-link text-light" do %>
                    <button type="button" class="btn btn-outline-dark" style="width:100px;">ログイン</button>
                  <% end %>
                </span>
              </li>
            </ul>
          <% end %>
        </div>
      </div>
    </div>
  </nav>
</header>

